@media (max-width: 1200px) {
    .nav_list {
        gap: 20px;
    }

    .nav_logo img {
        width: 70px;
    }

    .skills_box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .nav_list {
        flex-direction: column;
    }

    .skills_box {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 800px) {
    .intro_box {
        flex-direction: column;
    }

    .nav {
        padding: 10px;
    }
}
@media (max-width: 600px) {
    .nav_link {
        font-size: 12px;
    }

    .skills_title {
        font-size: 28px;
    }

    .project_title {
        font-size: 28px;
    }
}
@media (max-width: 400px) {
    .nav_box {
        flex-direction: column;
        align-items: flex-start;
    }

    .skills_box {
        padding: 15px;
    }
}
@media (max-width: 200px) {
    .nav {
        padding: 5px;
    }

    .nav_logo span {
        font-size: 14px;
    }

    .skills_title {
        font-size: 20px;
    }
}
